Aletto_Doyal_A9_A10/App_Data/member.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2019 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Members">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="member" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Name">
		
	</xs:element>
	<xs:element name="PwdHash">
		
	</xs:element>
	<xs:element name="member">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="PwdHash"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
